<h1 class="mt-3 mb-3">McGuire Room Workorders</h1>

<% @events.each do |e|%>
    <div class="mb-2 p-2" style="border: 3px solid <%= today_color(e['starts_at'], e['ends_at'] ) %> ">
    <div class="mb-2">
            <h3 style="color: <%= today_color(e['starts_at'], e['ends_at'] ) %>"><%= e['title'] %></h3>
            <h5 style="color: <%= today_color(e['starts_at'], e['ends_at'] ) %>"><%= fancy_date(e['starts_at'], e['ends_at']) %></h5>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <b>Program Info:</b>
            <p><%= e['body'] %> <%= e['description'] %> <%= e['summary'] %> </p>
            <b>Contact Info:</b>
            <p> 
                <%= e['contact_name'] %>
                <% if e['contact_organization'] && !e['contact_organization'].empty? %>
                    , <%= e['contact_organization'] %>
                <% end %>
                <br>
                <%= e['contact_email'] %>
                <%= e['contact_phone'] %>
            </p>
            <% if e['expected_attendance'] && !e['expected_attendance'].empty? %>
                <p><b>Expected Attendance:</b> <%= e['expected_attendance'] %> </p>
            <% end %>
        </div>
        <div class="col-sm-6">
            <% if e['room_setup'] && !e['room_setup'].empty? %>
                <b>Room Setup:</b>
                <br>
                <img src="<%= e['room_setup_picture'] %>">
                <p><%= e['room_setup'] %></p>
                <p><%= e['room_setup_notes'] %></p>
            <% end %>
            <p><b>AV Needed:</b> <%= e['av_required'] %>
            <p><b>Equipment Needed:</b> <%= e['equipment_needed'] %>
        </div>
    </div>
    </div>
<% end %>