<p id="notice"><%= notice %></p>

<h1>Numbers</h1>
<div class="mb-3">
    <a href="/numbers/new" class="btn btn-primary">
        Create New Number
    </a>
    <a href="/numbers/update_people" class="btn btn-warning">
        Load form Staff Portal
    </a>
</div>

<div class="row mb-3">
    <div class="col-sm-12">
        <h4>Get Help Numbers</h4>
        <% @numbers.where(number_type: 'help').order('name ASC').each do |n| %>
            <%= n.name %> - <%= n.phone %> <a href="/numbers/edit?id=<%= n.id %>"><button type="button" class="btn btn-outline-success btn-sm">Edit</button></a> <button onclick="delete_number('<%= n.id %>')" type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            <br>
        <% end %>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-12">
        <h4>Desk / Department Numbers</h4>
        <% @numbers.where(number_type: 'desk').order('name ASC').each do |n| %>
            <%= n.name %> - <%= n.phone %> <a href="/numbers/edit?id=<%= n.id %>"><button type="button" class="btn btn-outline-success btn-sm">Edit</button></a> <button onclick="delete_number('<%= n.id %>')" type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            <br>
        <% end %>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-12">
        <h4>Branch / Member Numbers</h4>
        <% @numbers.where(number_type: 'branch').order('name ASC').each do |n| %>
            <%= n.name %> - <%= n.phone %> <a href="/numbers/edit?id=<%= n.id %>"><button type="button" class="btn btn-outline-success btn-sm">Edit</button></a> <button onclick="delete_number('<%= n.id %>')" type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            <br>
        <% end %>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-12">
        <h4>People Numbers</h4>
        <% @numbers.where(number_type: 'people').order('name ASC').each do |n| %>
            <%= n.name %> - <%= n.phone %> <a href="/numbers/edit?id=<%= n.id %>"><button type="button" class="btn btn-outline-success btn-sm">Edit</button></a> <button onclick="delete_number('<%= n.id %>')" type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            <br>
        <% end %>
    </div>
</div>