<p id="notice"><%= notice %></p>

<h1>Upcoming Closures</h1>
<span>
    <a href="/closures/new">
        Create New Closure
    </a>
</span>
<br>
<% @closures.each do |c| %>
<div class="mt-2">
    <b>Date:</b> <%= c.closure_date.strftime("%m/%d/%Y") %>
    <b>Reason:</b> <%= c.reasons %>
    <b>Hours:</b> <%= c.hours %>
    <br>
    <b>Effected Locatons:</b>
        <% c.locations.each do |l| %>
            <%=location_id_to_fullname(l) %>
        <% end  %>
    <br>
    <%= link_to 'Edit', ('/closures/edit?id=' + c.id.to_s), class: "btn btn-primary" %>
    <%= link_to 'Destroy', {controller: "closures", action: "delete", id: c.id, format: 'js'}, data: { confirm: 'Are you sure?' },  class: "btn btn-danger", remote: true %>
</div>
<% end %>