<div class="row mb-3">
  <div class="col col-xs-12">
    <h3 class="text-center">Report for <%= @department.name %> on <%= @fancy_date %></h3>
  </div>
</div>
<div id="report_date" style="display: none">
  <%= @date %>
</div>
<% if @department.name == "Administration" || @department.name == "Adult/Reference" || @department.name == "Talking Book Library" || @department.name == "Sight and Sound" || @department.name == "Teen Services" || @department.name == "Youth Services" || @department.name == "East Bay" || @department.name == "Kingsley" %>
  <h2>Programs (by audience)</h2>
  <h4 class="banner">Count</h4>
  <div class="row">
    <div class="col-3">
      <div class="form-group"><label for="programsearlycount">Early (0-5)</label><input type="text" class="form-control" value="<%= check_for_value('programsearlycount', @reports) %>" id="programsearlycount"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsyouthcount">Youth (6-11)</label><input type="text" class="form-control" value="<%= check_for_value('programsyouthcount', @reports) %>" id="programsyouthcount"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsteencount">Teen (12-18)</label><input type="text" class="form-control" value="<%= check_for_value('programsteencount', @reports) %>" id="programsteencount"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsadultcount">Adult</label><input type="text" class="form-control" value="<%= check_for_value('programsadultcount', @reports) %>" id="programsadultcount"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsfamilycount">General</label><input type="text" class="form-control" value="<%= check_for_value('programsfamilycount', @reports) %>" id="programsfamilycount"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsoutreachcount">Offsite - Not With Bookmobile</label><input type="text" class="form-control" value="<%= check_for_value('programsoutreachcount', @reports) %>" id="programsoutreachcount"></div>
    </div>
    <div class="col-3">  
      <div class="form-group"><label for="programsbookmobilecount">Offsite - With Bookmobile</label><input type="text" class="form-control" value="<%= check_for_value('programsbookmobilecount', @reports) %>" id="programsbookmobilecount"></div>
    </div>
    <div class="col-3"> 
      <div class="form-group"><label for="programsslcearlycount">Summer Challenge Early (0-5)</label><input type="text" class="form-control" value="<%= check_for_value('programsslcearlycount', @reports) %>" id="programsslcearlycount"></div>
    </div>
    <div class="col-3"> 
      <div class="form-group"><label for="programsslcyouthcount">Summer Challenge Youth (6-11)</label><input type="text" class="form-control" value="<%= check_for_value('programsslcyouthcount', @reports) %>" id="programsslcyouthcount"></div>
    </div>
    <div class="col-3"> 
      <div class="form-group"><label for="programsslcteencount">Summer Challenge Teen (12-18)</label><input type="text" class="form-control" value="<%= check_for_value('programsslcteencount', @reports) %>" id="programsslcteencount"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="takehomekits">Take Home Kits</label><input type="text" class="form-control" value="<%= check_for_value('takehomekits', @reports) %>" id="takehomekits"></div>
    </div>
  </div>
  <h4 class="banner">Attendees</h4>
  <div class="row">
    <div class="col-3">
      <div class="form-group"><label for="programsearlyattendance">Early (0-5)</label><input type="text" class="form-control" value="<%= check_for_value('programsearlyattendance', @reports) %>" id="programsearlyattendance"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsyouthattendance">Youth (6-11)</label><input type="text" class="form-control" value="<%= check_for_value('programsyouthattendance', @reports) %>" id="programsyouthattendance"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsteenattendance">Teen (12-18)</label><input type="text" class="form-control" value="<%= check_for_value('programsteenattendance', @reports) %>" id="programsteenattendance"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsadultattendance">Adult</label><input type="text" class="form-control" value="<%= check_for_value('programsadultattendance', @reports) %>" id="programsadultattendance"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsfamilyattendance">General</label><input type="text" class="form-control" value="<%= check_for_value('programsfamilyattendance', @reports) %>" id="programsfamilyattendance"></div>
    </div>
    <div class="col-3">
      <div class="form-group"><label for="programsoutreachattendance">Offsite - Not With Bookmobile</label><input type="text" class="form-control" value="<%= check_for_value('programsoutreachattendance', @reports) %>" id="programsoutreachattendance"></div>
    </div>
    <div class="col-3">  
      <div class="form-group"><label for="programsbookmobileattendance">Offsite - With Bookmobile</label><input type="text" class="form-control" value="<%= check_for_value('programsbookmobileattendance', @reports) %>" id="programsbookmobileattendance"></div>
    </div>
    <div class="col-3"> 
      <div class="form-group"><label for="programsslcearlyattendance">Summer Challenge Early (0-5)</label><input type="text" class="form-control" value="<%= check_for_value('programsslcearlyattendance', @reports) %>" id="programsslcearlyattendance"></div>
    </div>
    <div class="col-3"> 
      <div class="form-group"><label for="programsslcyouthattendance">Summer Challenge Youth (6-11)</label><input type="text" class="form-control" value="<%= check_for_value('programsslcyouthattendance', @reports) %>" id="programsslcyouthattendance"></div>
    </div>
    <div class="col-3"> 
      <div class="form-group"><label for="programsslcteenattendance">Summer Challenge Teen (12-18)</label><input type="text" class="form-control" value="<%= check_for_value('programsslcteenattendance', @reports) %>" id="programsslcteenattendance"></div>
    </div>
  </div>
<% end %>
<% if @department.name == "Administration" || @department.name == "Adult/Reference" || @department.name == "Talking Book Library" || @department.name == "Sight and Sound" || @department.name == "Teen Services" || @department.name == "Youth Services" || @department.name == "East Bay" || @department.name == "Kingsley" %>
  <h2>Virtual Programs</h2>
  <h4 class="banner">Count</h4>
  <div class="row">
    <div class="col col-xs-2">
      <div class="form-group"><label for="virtualprogramskidscount">Youth</label><input type="text" class="form-control" value="<%= check_for_value('virtualprogramskidscount', @reports) %>" id="virtualprogramskidscount"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="virtualprogramsteenscount">Teen</label><input type="text" class="form-control" value="<%= check_for_value('virtualprogramsteenscount', @reports) %>" id="virtualprogramsteenscount"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="virtualprogramsadultscount">Adult</label><input type="text" class="form-control" value="<%= check_for_value('virtualprogramsadultscount', @reports) %>" id="virtualprogramsadultscount"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="virtualprogramsgeneralcount">General</label><input type="text" class="form-control" value="<%= check_for_value('virtualprogramsgeneralcount', @reports) %>" id="virtualprogramsgeneralcount"></div>
    </div>
  </div>
  <h4 class="banner">Attendance - Live Views Only</h4>
  <div class="row">
    <div class="col col-xs-2">
      <div class="form-group"><label for="virtualprogramskidsattendance">Youth</label><input type="text" class="form-control" value="<%= check_for_value('virtualprogramskidsattendance', @reports) %>" id="virtualprogramskidsattendance"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="virtualprogramsteensattendance">Teen</label><input type="text" class="form-control" value="<%= check_for_value('virtualprogramsteensattendance', @reports) %>" id="virtualprogramsteensattendance"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="virtualprogramsadultsattendance">Adult</label><input type="text" class="form-control" value="<%= check_for_value('virtualprogramsadultsattendance', @reports) %>" id="virtualprogramsadultsattendance"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="virtualprogramsgeneralattendance">General</label><input type="text" class="form-control" value="<%= check_for_value('virtualprogramsgeneralattendance', @reports) %>" id="virtualprogramsgeneralattendance"></div>
    </div>
  </div>
  <h4 class="banner">Recorded Virtual Programs</h4>
  <div class="row">
    <div class="col col-xs-4">
      <div class="form-group"><label for="virtualrecordedprogramcount">Count (If the original airing of this content was live do NOT record the program offered here. DO report the recorded views of the formerly live content in Library Created Virtual Program Recorded Views)</label><input type="text" class="form-control" value="<%= check_for_value('virtualrecordedprogramcount', @reports) %>" id="virtualrecordedprogramcount"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="virtualrecordedprogramviews">Views (Do not include live views)</label><input type="text" class="form-control" value="<%= check_for_value('virtualrecordedprogramviews', @reports) %>" id="virtualrecordedprogramviews"></div>
    </div>
  </div>
<% end %>
<% if @department.name == "Adult/Reference" || @department.name == "Talking Book Library" || @department.name == "Sight and Sound" || @department.name == "Teen Services" || @department.name == "Youth Services" || @department.name == "East Bay" || @department.name == "Kingsley" %>
  <h2>Questions</h2>
  <h4 class="banner">Reference</h4>
  <div class="row">
    <div class="col col-xs-3">
      <div class="form-group"><label for="questionsreferencewalkin">Walkin</label><input type="text" class="form-control" value="<%= check_for_value('questionsreferencewalkin', @reports) %>" id="questionsreferencewalkin"></div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group"><label for="questionsreferencephone">Phone</label><input type="text" class="form-control" value="<%= check_for_value('questionsreferencephone', @reports) %>" id="questionsreferencephone"></div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group"><label for="questionsreferencedigital">Digital</label><input type="text" class="form-control" value="<%= check_for_value('questionsreferencedigital', @reports) %>" id="questionsreferencedigital"></div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group"><label for="questionsreferencepostal">Postal</label><input type="text" class="form-control" value="<%= check_for_value('questionsreferencepostal', @reports) %>" id="questionsreferencepostal"></div>
    </div>
  </div>
<% end %>

<% if @department.name == "Talking Book Library" %>
  <h2>TBL Circulation</h2>
  <h4 class="banner">Circulation Counts</h4>
  <div class="row">
    <div class="col col-xs-4">
      <div class="form-group"><label for="lbphcirclocal">Local</label><input type="text" class="form-control" value="<%= check_for_value('lbphcirclocal', @reports) %>" id="lbphcirclocal"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="lbphcircregional">Regional</label><input type="text" class="form-control" value="<%= check_for_value('lbphcircregional', @reports) %>" id="lbphcircregional"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="lbphcircdigital">Digital</label><input type="text" class="form-control" value="<%= check_for_value('lbphcircdigital', @reports) %>" id="lbphcircdigital"></div>
    </div>
  </div>
<% end %>

<% if @department.name == "Interlibrary Loan" || @department.name == "East Bay" || @department.name == "Kingsley" %>
  <h2>Interlibrary Loan</h2>
  <h4 class="banner">Lending (Circulation)</h4>
  <div class="row">
    <div class="col col-xs-6">
      <div class="form-group"><label for="illlendingmmll">MMLL</label><input type="text" class="form-control" value="<%= check_for_value('illlendingmmll', @reports) %>" id="illlendingmmll"></div>
    </div>
    <div class="col col-xs-6">
      <div class="form-group"><label for="illlendingoclc">OCLC</label><input type="text" class="form-control" value="<%= check_for_value('illlendingoclc', @reports) %>" id="illlendingoclc"></div>
    </div>
  </div>
  <h4 class="banner">Borrowing (Adult/Reference)</h4>
  <div class="row">
    <div class="col col-xs-6">
      <div class="form-group"><label for="illborrowingrequests">Requests</label><input type="text" class="form-control" value="<%= check_for_value('illborrowingrequests', @reports) %>" id="illborrowingrequests"></div>
    </div>
    <div class="col col-xs-6">
      <div class="form-group"><label for="illborrowingfilled">Filled</label><input type="text" class="form-control" value="<%= check_for_value('illborrowingfilled', @reports) %>" id="illborrowingfilled"></div>
    </div>
  </div>
<% end %>

<% if @department.name == "Sight and Sound" %>
  <h2>Meeting Rooms</h2>
  <h4 class="banner">McGuire Room</h4>
  <div class="row">
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsmcguiretadl">TADL</label><input type="text" class="form-control" value="<%= check_for_value('meetingsmcguiretadl', @reports) %>" id="meetingsmcguiretadl"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsmcguirepaid">Paid</label><input type="text" class="form-control" value="<%= check_for_value('meetingsmcguirepaid', @reports) %>" id="meetingsmcguirepaid"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsmcguireunpaid">Unpaid</label><input type="text" class="form-control" value="<%= check_for_value('meetingsmcguireunpaid', @reports) %>" id="meetingsmcguireunpaid"></div>
    </div>
  </div>
  <h4 class="banner">Thirlby Room</h4>
  <div class="row">
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsthirlbytadl">TADL</label><input type="text" class="form-control" value="<%= check_for_value('meetingsthirlbytadl', @reports) %>" id="meetingsthirlbytadl"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsthirlbypaid">Paid</label><input type="text" class="form-control" value="<%= check_for_value('meetingsthirlbypaid', @reports) %>" id="meetingsthirlbypaid"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsthirlbyunpaid">Unpaid</label><input type="text" class="form-control" value="<%= check_for_value('meetingsthirlbyunpaid', @reports) %>" id="meetingsthirlbyunpaid"></div>
    </div>
  </div>
  <h4 class="banner">Study Room D</h4>
  <div class="row">
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsrmdtadl">TADL</label><input type="text" class="form-control" value="<%= check_for_value('meetingsrmdtadl', @reports) %>" id="meetingsrmdtadl"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsrmdpaid">Paid</label><input type="text" class="form-control" value="<%= check_for_value('meetingsrmdpaid', @reports) %>" id="meetingsrmdpaid"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="meetingsrmdunpaid">Unpaid</label><input type="text" class="form-control" value="<%= check_for_value('meetingsrmdunpaid', @reports) %>" id="meetingsrmdunpaid"></div>
    </div>
  </div>
  <h4 class="banner">Attendees</h4>
  <div class="row">
    <div class="col col-xs-4">
      <div class="form-group"><label for="attendeesmcguire">McGuire</label><input type="text" class="form-control" value="<%= check_for_value('attendeesmcguire', @reports) %>" id="attendeesmcguire"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="attendeesthirlby">Thirlby</label><input type="text" class="form-control" value="<%= check_for_value('attendeesthirlby', @reports) %>" id="attendeesthirlby"></div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"><label for="attendeesrmd">Study Room D</label><input type="text" class="form-control" value="<%= check_for_value('attendeesrmd', @reports) %>" id="attendeesrmd"></div>
    </div>
  </div>
<% end %>

<% if @department.name == "Technical Services" %>
  <h2>Technical Services</h2>
  <h4 class="banner">Items Processed</h4>
  <div class="row">
    <div class="col col-xs-2">
      <div class="form-group"><label for="procadult">Adult</label><input type="text" class="form-control" value="<%= check_for_value('procadult', @reports) %>" id="procadult"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="procyouthteen">Youth/Teen</label><input type="text" class="form-control" value="<%= check_for_value('procyouthteen', @reports) %>" id="procyouthteen"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="procssc">SSC</label><input type="text" class="form-control" value="<%= check_for_value('procssc', @reports) %>" id="procssc"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="procmag">Magazines</label><input type="text" class="form-control" value="<%= check_for_value('procmag', @reports) %>" id="procmag"></div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"><label for="procmisc">Misc</label><input type="text" class="form-control" value="<%= check_for_value('procmisc', @reports) %>" id="procmisc"></div>
    </div>
  </div>
<% end %>
<div id="messages"></div>
<button type="button" class="btn btn-success" onclick="reports_submitt()">Save</button>