<!DOCTYPE html>
<html>
  <head>
    <title>TADL Toolbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-primary">
      <div class="container-xl">
        <a class="navbar-brand" href="#">
          TADL Toolbox!
        </a>
        <% if current_user  %>
          <a class="nav-item nav-link top-link" href="/reports/index">SoftStats</a>
          <a class="nav-item nav-link top-link" href="/trailers/index">Trailers</a>
          <% if ENV["SUPER_USERS"].split(',').include? current_user.email %>
            <a class="nav-item nav-link top-link" href="/locations">Locations</a>
            <a class="nav-item nav-link top-link" href="/numbers">Directory</a>
          <% end %>
        <% end %>
        <% if !current_user %>
          <%= link_to "Staff Login", "/auth/google_oauth2", method: :post, class: "top-link" %>
        <% else %>
          <span id="current_user" class="navbar-text ml-auto text-white">
            <%= current_user.name %>
          </span>
          <a href="/signout" class="btn btn-danger btn-sm ml-3" type="button">
            Logout
          </a>
        <% end %>
      </div>
    </nav>
    <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" >
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
    <div class="container-xl">
        <%= yield %>
    </div>

  </body>
</html>
