<!DOCTYPE html>
<html>
  <head>
    <title>TADL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-primary">
      <div class="container-xl">
        <a class="navbar-brand" href="#">
          TADL
        </a>
        <% if !current_user %>
          <a href="/auth/google_oauth2" class="btn btn-success" type="button">
            Login
          </a>
        <% else %>
          <span id="current_user" class="navbar-text ml-auto text-white">
            <%= current_user.name %>
          </span>
          <a href="/signout" class="btn btn-danger btn-sm ml-3" type="button">
            Logout
          </a>
        <% end %>
      </div>
    </nav>
    <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" >
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
    <div class="container-xl">
        <%= yield %>
    </div>

  </body>
</html>
